// ─── Imports ──────────────────────────────────────────────────────────
@import '_variables'
@import '_mixins'
@import '_reset'
@import '_typography'
@import '_header'
@import '_hero'
@import '_courses'
@import '_footer'
@import '_contact'